.admin {
    color: $black-black-500;

    .pagination {
        justify-content: end !important;

        .active {
            .page-link {
                background-color: $admin-color !important;
            }
        }

        .page-icon > a:hover {
            background-color: $admin-color !important;
        }

        .page-item:hover {
            .page-link {
                color: $admin-color !important;
            }
        }

        .page-link {
            border-radius: 8px !important;

            &:hover {
                color: $admin-color;
            }
        }
    }

    &__sidebar {
        width: 264px;
        background: white;
        padding: 24px 18px 32px 18px;
        border-right: 1px solid #f0f1f3;
        box-shadow: 4px 0px 30px 0px rgba(131, 98, 234, 0.05);

        &--label {
            margin-bottom: 8px;
            padding: 8px 0 8px 20px;

            & > img {
                width: 34px;
                height: 34px;
            }

            & > p {
                color: $black-black-700;
                font-size: 24px;
                font-weight: 600;
            }
        }

        .tab {
            display: flex;
            flex-direction: column;
            gap: 8px;

            * > span {
                font-size: 14px;
                font-weight: 600;
            }

            .user__tab--link,
            &__product > button {
                padding: 8px 12px;
                color: $black-black-500;
                border-radius: 8px;

                &:hover {
                    background-color: $admin-color;
                    color: white;
                    box-shadow: none;
                }
            }

            &__product > button {
                background-color: inherit;

                i:first-child {
                    font-size: 24px;
                }

                i:last-child {
                    font-size: 22px;
                    transform: rotate(90deg);
                }
            }

            .user__tab--link {
                gap: 8px;

                & > i {
                    font-size: 24px;
                }
            }

            .user__tab--product {
                padding: 10px 12px 10px 44px;
            }
        }
    }

    &__content {
        width: calc(100% - 264px);

        .dropdown-menu {
            background: #fff;
            border: 2px solid #f5f5f5;
            box-shadow:
                0px 0px 0px 0px rgba(136, 166, 197, 0.1),
                0px 8px 18px 0px rgba(136, 166, 197, 0.1),
                0px 33px 33px 0px rgba(136, 166, 197, 0.09),
                0px 74px 44px 0px rgba(136, 166, 197, 0.05),
                0px 131px 52px 0px rgba(136, 166, 197, 0.01),
                0px 204px 57px 0px rgba(136, 166, 197, 0);

            & > li {
                color: $black-black-500;
            }

            .dropdown-item:active {
                background-color: $admin-color;
            }
        }

        &--header {
            background: white;
            display: flex;
            justify-content: flex-end;
            padding: 16px 24px;
            border-bottom: 1px solid #f0f1f3;
            box-shadow: 0px 4px 30px 0px rgba(131, 98, 234, 0.05);

            &--search {
                padding: 4px 12px;

                input,
                button {
                    border-radius: 46px;
                }

                & > input {
                    width: 300px;
                    background-color: white;
                    padding: 8px 12px;
                    font-size: 14px;
                    font-weight: 400;
                    border: 1px solid #e6e6e6;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;

                    &:focus {
                        outline: none;
                    }
                }

                & > button {
                    background-color: $admin-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    padding: 8px 16px;
                    border: 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }

            &--divider {
                width: 1px;
                height: 40px;
                background-color: #f0f1f3;
                margin: 0 16px;
            }

            &--info {
                & > img {
                    width: 32px;
                    height: 32px;
                    border-radius: 100px;
                }

                &--detail {
                    & > p:first-child {
                        color: $gray-scale-gray-900;
                        font-size: 14px;
                        font-weight: 500;
                    }

                    & > p:last-child {
                        color: $black-black-500;
                        font-size: 12px;
                        font-weight: 500;
                    }
                }

                .icon-chevron-right {
                    transform: rotate(90deg);
                    color: $black-black-500;
                    font-size: 20px;
                }
            }
        }

        &--dashboard {
            margin: 32px 0;

            &--header {
                .button-group {
                    background: white;
                    border-radius: 8px;
                    border: 1px solid#e0e2e7;
                    padding: 4px;

                    .active {
                        background-color: #dedefa;
                        color: $admin-color;
                    }

                    button {
                        background: inherit;
                        padding: 6px 12px;
                        border: none;
                        border-radius: 8px;
                        transition: all 0.1s linear;

                        &:hover {
                            background-color: #dedefa;
                            color: $admin-color;
                        }
                    }
                }

                form {
                    input,
                    button {
                        padding: 10px 14px;
                    }

                    input[type="date"] {
                        background-color: white;
                        border: 1px solid #e0e2e7;
                        border-radius: 8px;
                    }

                    button[type="submit"] {
                        background-color: $admin-color;
                        gap: 4px;
                        color: white;
                        border-radius: 8px;
                        padding: 10px 14px;
                        border-color: $admin-color;

                        &:hover {
                            background-color: white;
                            color: $admin-color;
                        }
                    }
                }
            }

            &--cols {
                margin-top: 24px;

                &--box {
                    background: white;
                    padding: 20px;
                    border-radius: 8px;
                    border: 1px solid #e0e2e7;
                    box-shadow: 0px 1.5px 2px 0px rgba(16, 24, 40, 0.1);

                    div:first-child {
                        width: fit-content;
                        padding: 8px;
                        border-radius: 100px;
                    }

                    div:last-child {
                        font-weight: 500;

                        p:first-child {
                            color: $black-black-500;
                        }

                        p:last-child {
                            color: $black-black-700;
                            font-size: 24px;
                        }
                    }
                }

                .box-first {
                    background: #dedefa;
                    border: 4px solid #efeffd;
                }

                .box-second {
                    background: #cfe7dc;
                    border: 4px solid #e7f4ee;
                }

                .box-third {
                    background: #fcdad7;
                    border: 4px solid #feedec;
                }

                .box-fourth {
                    background: #fae1cf;
                    border: 4px solid #fdf1e8;
                }
            }

            &--chart {
                margin: 24px 0;
            }

            &--selling {
                .user__content--order--header,
                table {
                    text-align: center;
                    border: 1px solid #f0f1f3;

                    th,
                    td {
                        padding: 18px 22px;
                    }

                    th {
                        background-color: #f9f9fc;
                        color: $black-black-700;
                        font-weight: 500;
                        font-size: 16px;
                        text-transform: none;

                        &:first-child {
                            text-align: left;
                        }
                    }

                    td {
                        color: $black-black-500;
                        font-size: 14px;
                        font-weight: 500;
                        img {
                            width: 44px;
                            height: 44px;
                            border-radius: 8px;
                        }
                    }

                    td:last-child {
                        display: table-cell;
                        padding: 18px 22px;
                    }

                    .processing,
                    .cancelled,
                    .published {
                        width: fit-content;
                        margin: auto;
                        padding: 4px 12px;
                        border-radius: 100px;
                        font-weight: 600;
                    }

                    .published {
                        background-color: #e7f4ee;
                        color: #0d894f;
                    }

                    .cancelled {
                        background-color: #feedec;
                        color: #f04438;
                    }

                    .processing {
                        background-color: #fdf1e8;
                        color: #e46a11;
                    }
                }

                &--filter {
                    background: white;
                    display: flex;
                    padding: 10px 14px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 8px;
                    border: 1px solid #e0e2e7;
                    font-size: 14px;
                    font-weight: 500;
                    color: $black-black-500;
                    transition: all 0.2s ease;

                    &:hover {
                        background: $black-black-500;
                        color: white;
                    }

                    & > i {
                        transform: rotate(90deg);
                    }
                }
            }

            &--orders {
                margin-top: 24px;

                .see-more {
                    background-color: $admin-color;
                    border-radius: 8px;
                    color: white;
                    border: 1px solid $admin-color;
                    transition: all 0.2s ease;

                    &:hover {
                        background-color: white;
                        color: $admin-color;
                    }
                }

                .action-btn {
                    font-size: 20px;
                    color: #667085;

                    &:hover {
                        color: $admin-color;
                    }
                }
            }
        }

        &--products {
            margin-top: 32px;

            &--header {
                margin-bottom: 8px;

                &--title {
                    color: $black-black-700;
                    font-size: 24px;
                    font-weight: 500;
                }

                &--add {
                    width: fit-content;
                    background: $admin-color;
                    display: flex;
                    padding: 10px 14px;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    border: 1px solid $admin-color;
                    border-radius: 8px;
                    color: white;
                    font-size: 14px;
                    font-weight: 600;
                    transition: all 0.2s ease;

                    &:hover {
                        background: white;
                        color: $admin-color;
                        box-shadow: unset;
                    }
                }

                &--search {
                    background: white;
                    max-width: 320px;
                    height: fit-content;
                    border: 1px solid #e0e2e7;
                    border-radius: 8px;
                    margin-top: 24px;
                    padding: 8px 12px;

                    button {
                        width: fit-content;
                        font-size: 20px;
                    }

                    input {
                        padding: 0;
                        color: #858d9d;
                        font-size: 14px;
                        font-weight: 400;
                        border: 0;

                        &:focus {
                            border: 0;
                        }
                    }
                }

                &--filter {
                    margin-top: 24px;

                    .icon-printer {
                        background: #dedefa;
                        display: flex;
                        padding: 10px 14px;
                        align-items: center;
                        gap: 4px;
                        border-radius: 8px;
                        font-size: 14px;
                        font-weight: 600;
                        color: $admin-color;
                        border: 1px solid #dedefa;
                        transition: all 0.2s ease;

                        &:hover {
                            background-color: $admin-color;
                            color: #dedefa;
                            border-color: $admin-color;
                        }
                    }
                }
            }
        }

        &--products--category {
            table {
                th:first-child {
                    text-align: center;
                }

                td:last-child {
                    display: inline-flex;
                }
            }
        }

        .product-add {
            margin: 32px 0 24px 0;

            &__header {
                button:first-child {
                    background: white;
                    color: #858d9d;
                    border-color: #858d9d;
                    transition: all 0.2s ease;

                    &:hover {
                        background: #858d9d;
                        color: white;
                    }

                    & > i {
                        transform: rotate(45deg);
                    }
                }
            }

            &__body {
                margin-top: 24px;

                .info-title {
                    color: $black-black-800;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: left;
                }

                select,
                input,
                textarea {
                    background: #f9f9fc;
                    padding: 8px 12px;
                    border-radius: 8px;
                    border: 1px solid #e0e2e7;
                    outline: none;
                    font-size: 14px;
                    font-weight: 400;
                }

                &--info {
                    background: white;
                    display: flex;
                    flex-direction: column;
                    gap: 14px;
                    margin-bottom: 24px;
                    padding: 24px;
                    border: 1px solid #e0e2e7;
                    border-radius: 8px;
                    box-shadow: 0px 1.5px 2px 0px rgba(16, 24, 40, 0.1);
                }

            }
        }

        #removeConfirm {
            .modal-dialog {
                max-width: fit-content;

                .icon-info {
                    font-size: 48px;
                }

                button:last-child {
                    background-color: $admin-color;
                    color: white;

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}
