.product {
    margin-top: 32px;

    &__sidebar {
        &--action {
            padding: 14px 32px;
            gap: 12px;
            border: none;

            &>span {
                font-size: 14px;
            }
        }

        &--category {
            margin-top: 24px;
            color: $gray-scale-gray-900;

            @include styleButtonCollapse;

            &--list {
                .product__sidebar--category--item {
                    display: flex;
                    margin-bottom: 16px;
                    padding: 10px 0px;
                    align-items: center;
                    gap: 8px;
                    font-size: 14px;
                    font-weight: 400;

                    &>input, label {
                        cursor: pointer;
                    }

                    &>label {
                        display: flex;
                        gap: 4px;

                        &>span {
                            color: $gray-scale-gray-500;
                        }
                    }
                }
            }
        }

        &--price {
            display: flex;
            flex-direction: column;
            gap: 16px;
            box-shadow: 0px -1px 0px 0px #E5E5E5;
            padding-top: 20px;

            @include styleButtonCollapse;

            &--inp {
                position: relative;
                width: 100%;
                margin-bottom: 16px;
                border: none;
                outline: none;
            }

            &--label {
                display: flex;
                align-items: center;
                gap: 4px;
                color: $gray-scale-gray-700;
                font-size: 14px;
                font-weight: 400;

                &>span {
                    color: $gray-scale-gray-900;
                    font-weight: 500;
                }
            }
        }

        &--rating {
            padding-top: 20px;
            box-shadow: 0px -1px 0px 0px #E5E5E5;

            @include styleButtonCollapse;

            .product__sidebar--category--expands {
                margin-bottom: 10px;
            }

            &--item {
                &>input[type="checkbox"] {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &--banner {
            padding-top: 10px;

            &>img {
                width: 100%;
                object-fit: cover;
            }
        }

        &--sale {
            margin-top: 20px;

            &--title {
                margin-bottom: 12px;
                color: $gray-scale-gray-900;
                font-size: 20px;
                font-weight: 500;
                line-height: 150%;
            }

            &--products {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }
    }
}