.product-detail {
    .row {
        margin-top: 32px;
        margin-bottom: 58px;
    }

    &__left {
        max-height: 556px;

        &--img {
            margin-left: 90px;

            @include max-width-992 {
                margin-left: 0;
            }

            @include max-width-576 {
                margin-left: 2rem;
            }
        }

        li {
            display: block;
            float: left;
            cursor: pointer;
        }
        img {
            display: block;
            height: 556px;
            object-fit: cover;

            @include max-width-1200 {
                max-height: 416px;
            }

            @include max-width-992 {
                max-height: 376px;
            }

            @include max-width-425 {
                width: 100%;
                margin-left: -10%;
            }
        }

        .vertical {
            padding-right: 0 !important;
        }

        .lSSlideOuter .lSPager.lSGallery li {
            opacity: 0.5;
        }

        .lSSlideOuter .lSPager.lSGallery li.active {
            opacity: 1;
        }

        .lSSlideOuter .lSPager.lSGallery li.active,
        .lSSlideOuter .lSPager.lSGallery li {
            border-radius: 0;
        }

        .lSSlideOuter .lSPager.lSGallery li.active:hover,
        .lSSlideOuter .lSPager.lSGallery li:hover {
            border-radius: 0;
        }

        .lSSlideOuter .lSPager.lSGallery img {
            display: block;
            width: 80px;
            height: 90px;
            object-fit: cover;
        }

        .lSSlideOuter.vertical .lSGallery {
            display: flex;
            flex-direction: column;
            height: auto !important;
            gap: 12px;
            left: 0;
        }
        .product-detail .lSSlideOuter .lSPager.lSGallery img {
            width: 80px;
            height: 90px;
            object-fit: cover;
        }
    }

    &__right {
        &--heading {
            border-bottom: 1px solid #e6e6e6;

            &--label {
                height: fit-content;
                background: rgba(32, 181, 38, 0.2);
                padding: 4px 8px;
                margin: 8px 0;
                border-radius: 4px;
                color: $green;
                font-size: 14px;
            }

            &--review {
                position: relative;
                color: $gray-scale-gray-600;
                font-size: 14px;
            }

            &--price {
                display: flex;
                align-items: center;
                margin: 20px 0;

                & > p:first-child {
                    color: #b3b3b3;
                    font-size: 20px;
                    font-weight: 400;
                }

                & > p {
                    font-size: 24px;
                    font-weight: 500;
                    color: $green;
                }

                & > p:last-child {
                    background: rgba(234, 75, 72, 0.1);
                    color: $red;
                    font-size: 14px;
                    margin-left: 12px;
                    padding: 3px 10px;
                    border-radius: 30px;
                }
            }
        }

        &--body {
            padding: 24px 0;
            border-bottom: 1px solid #e6e6e6;

            p {
                color: $gray-scale-gray-900;
                font-size: 14px;
            }

            &--label {
                display: flex;

                @include max-width-425 {
                    display: block;
                }
            }

            &--share {
                @include max-width-425 {
                    margin-top: 24px;
                    margin-bottom: 12px;
                }
            }

            &--link {
                display: flex;
                gap: 5px;

                a {
                    cursor: pointer;

                    &:hover i {
                        background-color: $white;
                        color: $primary-color;
                    }

                    i {
                        background-color: $primary-color;
                        padding: 11px;
                        color: $white;
                        font-size: 18px;
                        border-radius: 50%;
                        transition: all 0.2s ease;
                        border: 1px solid $primary-color;
                    }
                }
            }

            p:last-child {
                margin-top: 16px;
                color: $gray-scale-gray-500;
            }
        }

        &--action {
            padding: 18px 0;
            border-bottom: 1px solid #e6e6e6;

            &--flex {
                display: flex;

                @include max-width-992 {
                    display: block;
                }
            }

            &--dispatch {
                width: fit-content;
                background: $white;
                padding: 8px;
                border-radius: 170px;
                border: 1px solid #e6e6e6;

                @include max-width-992 {
                    margin-bottom: 24px;
                }
            }

            &--quantity {
                width: 40px;
                border: none;
                color: $gray-scale-gray-900;
                text-align: center;
                font-weight: 400;
                outline: none;
            }

            &--btn {
                width: 34px;
                height: 34px;
                background-color: #f2f2f2;
                font-size: 14px;
                border: none;
                border-radius: 100%;

                &:hover {
                    opacity: 0.8;
                }
            }

            .btn-primary {
                @include max-width-768 {
                    margin: 0 !important;
                }
            }

            &--wish {
                background: rgba(32, 181, 38, 0.1);
                padding: 16px;
                border: 0;
                border-radius: 50%;
                color: $green;
                font-size: 20px;
                transition: all 0.3s linear;

                @include max-width-992 {
                    margin-top: 24px;
                }

                &:hover {
                    background-color: $primary-color;
                    color: $white;
                }
            }

            .btn-primary {
                width: 100%;
                margin: 0 12px;
            }
        }

        &--footer {
            padding-top: 24px;

            & > p {
                color: $gray-scale-gray-900;
                font-weight: 500;

                & > span {
                    color: $gray-scale-gray-500;
                    font-weight: 400;
                }
            }
        }
    }

    &__footer {
        margin: 80px 0;

        & > h5 {
            margin-bottom: 32px;
        }
    }

    #wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .row {
            .col-sm-1,
            .col-sm-6 {
                p {
                    margin-bottom: 12px;
                    font-size: 14px;
                }
            }

            .col-sm-1 {
                width: 10%;

                @include max-width-992 {
                    width: 18%;
                }

                p {
                    color: $gray-scale-gray-900;
                }
            }

            .col-sm-6 {
                width: 48%;

                @include max-width-1200 {
                    width: 35%;
                }

                @include max-width-992 {
                    width: 50%;
                }

                p {
                    color: $gray-scale-gray-600;
                }
            }
        }

        .feedbacks-wraper {
            max-height: calc(105px * 4);
            overflow-y: visible;
        }

        .customer-feedbacks {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e6e6e6;

            &__header,
            &__content {
                width: 760px;
            }

            &__header {
                &--img {
                    width: 41px;
                    height: 41px;
                    border-radius: 50%;
                }

                &--name {
                    color: $gray-scale-gray-900;
                    font-size: 14px;
                    font-weight: 500;
                }

                &--time {
                    font-size: 14px;
                    color: $gray-scale-gray-400;
                }
            }

            &__content {
                margin-top: 12px;
                font-size: 14px;
                color: $gray-scale-gray-500;
            }

            &__load {
                background: rgba(86, 172, 89, 0.10);
                margin-top: 24px;
                padding: 14px 32px;
                font-size: 14px;
                font-weight: 600;
                color: $primary-color;
                border-radius: 43px;
                border: none;
                transition: all 0.2s linear;

                &:hover {
                    background-color: $primary-color;
                    color: $white;
                }
            }
        }
    }

    .content {
        width: 100%;
        margin-top: 58px;
        transition: 0.3s ease;
    }

    /* Tabs menu */
    .tabs {
        margin: 0;
        background-image: linear-gradient(135deg, $primary-color 100%, $green-gray-scale-600 0%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        border-radius: 2px 2px 0px 0px;

        @include max-width-576 {
            height: 40px;
        }
    }

    /* Tab Links */
    .tablinks {
        background: transparent;
        background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
        border: none;
        outline: none;
        cursor: pointer;
        width: 25%; /*change depending on the number of tabs*/
        height: 80px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        overflow: hidden;
        transition: 0.3s ease;

        @include max-width-576 {
            height: 40px;
            font-size: 12px;
        }

        @include max-width-360 {
            width: 30%;
        }

        &:before /* Gradient */ {
            background-image: linear-gradient(135deg, $primary-color 0%, $green-gray-scale-600 100%);
            content: "";
            width: 100%;
            height: 0px;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.3s ease-in-out;
            z-index: 2;
        }

        /*tab buttons hover*/

        &:hover::before {
            height: 100%;
            z-index: 2;
            bottom: 0;

            @media screen and (max-width: 512px) {
                height: 0;
            }
        }
    }

    /* Tab active */
    .tablinks.active {
        background-color: white;
        z-index: 0;
        border-right: 0px;
        border-left: 0px;
        height: 110px;
        bottom: 0px;
        overflow: hidden;

        @media screen and (max-width: 512px) {
            height: 60px;
        }
    }

    .tablinks.active:before /* Gradient */ {
        content: "";
        width: 100%;
        height: 5px;
        top: 0;
        left: 0;
    }

    /* Tabs text */
    .tablinks.active p,
    .tablinks.active:hover p {
        opacity: 1;
        background: -webkit-linear-gradient(135deg, $primary-color 0%, $green-gray-scale-600 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .tablinks p {
        opacity: 0.6;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        transition: 0.5s ease;
        padding: 0;
        margin: 0;
        color: $white;
        backface-visibility: hidden;
        font-weight: 400;
    }

    .tablinks:hover p {
        color: white;
        opacity: 1;

        @media screen and (max-width: 512px) {
            color: $text;
            opacity: 0.6;
        }
    }

    /* Tabs text bigger */

    .tablinks p:before {
        content: attr(data-title);
        position: absolute;
        height: auto;
        width: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.1;
        font-size: 40px;
        transition: 1s ease-out;
        z-index: -1;
        font-weight: 600;
        top: 110%;

        @media screen and (max-width: 512px) {
            display: none;
        }
    }

    .tablinks:hover p:before {
        opacity: 0.1;
        font-size: 40px;
        top: -80%;
    }

    /* tab content */

    .wrapper_tabcontent {
        background-color: white;
        margin-top: 0px;
        z-index: 1;
        position: relative;
        opacity: 1;
        padding: 40px 60px;
        overflow: hidden;
        transition: all 1s ease;
        top: 0;

        @include max-width-576 {
            padding: 24px 0;
        }

        .tabcontent {
            display: none;
            min-height: 180px;
        }

        .tabcontent.active {
            transition: all 1s ease;
            display: block;
        }

        iframe {
            @include max-width-576 {
                width: 100%;
            }
        }
    }

    /* Tab content line */
    .wrapper_tabcontent:after {
        content: "";
        height: 5px;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(135deg, #64ff6c 0%, #85f68e 100%);
        left: 0;
        bottom: 0;
        z-index: -2;
        transition: all 1s ease;
    }

    /* Title */
    .tabcontent h3 {
        font-size: 32px;
        top: 75px;
        transform: rotate(90deg);
        position: absolute;
        left: -90px;
        opacity: 0.1;
        width: 200px;
        height: 60px;
        background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0;
        animation: section 1s ease;

        @media screen and (max-width: 512px) {
            top: 65px;
        }
    }

    /* Text*/
    .tabcontent p {
        color: $text;
        margin: 0;
        padding: 0;
        line-height: 28px;
        font-weight: 100;
        transition: all 1s ease;
        animation: fadeEffect 0.6s ease;
        width: 100%;
        font-size: 16px;

        @media screen and (max-width: 512px) {
            font-size: 14px;
            line-height: 26px;
        }
    }
}

@keyframes section {
    from {
        left: -150px;
    }
    to {
        left: -90px;
    }
}

@keyframes tabEffect {
    from {
        top: -40px;
    }
    to {
        top: 0px;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
        margin-left: 30px;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}
