.product {
    margin-top: 32px;

    &__sidebar {
        @include max-width-992 {
            display: none;
        }

        &--action {
            padding: 14px 32px;
            gap: 12px;
            border: none;

            & > span {
                font-size: 14px;
            }
        }

        &--category {
            margin-top: 24px;
            color: $gray-scale-gray-900;

            @include styleButtonCollapse;

            &--list {
                .product__sidebar--category--item {
                    display: flex;
                    margin-bottom: 16px;
                    padding: 10px 0px;
                    align-items: center;
                    gap: 8px;
                    font-size: 14px;
                    font-weight: 400;

                    & > input,
                    label {
                        cursor: pointer;
                    }

                    & > label {
                        display: flex;
                        gap: 4px;

                        & > span {
                            color: $gray-scale-gray-500;
                        }
                    }
                }
            }
        }

        &--price {
            display: flex;
            flex-direction: column;
            gap: 16px;
            box-shadow: 0px -1px 0px 0px #e5e5e5;
            padding-top: 20px;

            @include styleButtonCollapse;

            &--inp {
                position: relative;
                width: 100%;
                margin-bottom: 16px;
                border: none;
                outline: none;
            }

            &--label {
                display: flex;
                align-items: center;
                gap: 4px;
                color: $gray-scale-gray-700;
                font-size: 14px;
                font-weight: 400;

                & > span {
                    color: $gray-scale-gray-900;
                    font-weight: 500;
                }
            }
        }

        &--rating {
            padding-top: 20px;
            box-shadow: 0px -1px 0px 0px #e5e5e5;

            @include styleButtonCollapse;

            .product__sidebar--category--expands {
                margin-bottom: 10px;
            }

            &--item {
                & > input[type="checkbox"] {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &--banner {
            padding-top: 10px;

            & > img {
                width: 100%;
                object-fit: cover;
            }
        }

        &--sale {
            margin-top: 20px;

            &--title {
                margin-bottom: 12px;
                color: $gray-scale-gray-900;
                font-size: 20px;
                font-weight: 500;
                line-height: 150%;
            }

            &--products {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }
    }

    &__filter {
        display: flex; 

        @include max-width-576 {
            display: block;
        }

        &--label {
            color: $gray-scale-gray-500;
            font-size: 14px;
            margin-right: 8px;

            @include max-width-576 {
                margin: 12px 0;
            }
        }

        &--action {
            padding: 10px 8px;
            border-radius: 4px;
            border: 1px solid #e6e6e6;
            outline: none;
            color: $gray-scale-gray-700;
            font-size: 14px;
            font-weight: 400;

            & > option {
                padding: 10px 16px;
            }
        }

        &--result {
            color: $gray-scale-gray-600;

            @include max-width-576 {
                margin-top: 24px;
            }

            & > span {
                color: $gray-scale-gray-900;
                font-weight: 600;
            }
        }

        .res-product__filter {
            display: flex;

            @include max-width-425 {
                display: block;
            }
        }
    }

    .res-sidebar-action {
        display: none;

        @include max-width-992 {
            display: block;
        }

        &>button {
            margin-right: 24px;
        }

        .modal-dialog {
            animation: fromLeft 0.5s ease;
        }
    }

    &__list {
        margin-top: 26px;
    }

    .col-sm-9 {
        @include max-width-992 {
            width: 100%;
        }
    }
}

@keyframes fromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
