$primary-color: #00B207;
$accent: #B62B2B;
$red: #EA4B48;
$green: #2C742F;
$green-gray-scale-700: #2B572E;
$green-gray-scale-600: #406B42;
$green-gray-scale-500: #618062;
$text: #808080;
$white: #fff;
$branding-warning: #FF8A00;
$gray-scale-gray-900: #1A1A1A;
$gray-scale-gray-800: #333;
$gray-scale-gray-700: #4D4D4D;
$gray-scale-gray-600: #666;
$gray-scale-gray-500: #808080;
$gray-scale-gray-400: #999;
$bg-icon: rgb(231, 255, 231) 50%/cover no-repeat;