$primary-color: #00B207;
$green: #2C742F;
$green-gray-scale-700: #2B572E;
$green-gray-scale-600: #406B42;
$green-gray-scale-500: #618062;
$text: #808080;
$white: #fff;
$gray-scale-gray-900: #1A1A1A;
$gray-scale-gray-700: #4D4D4D;